{% extends 'base.html' %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header text-white bg-dark" style="color: white">Products</div>
        <div class="card-body px-0 pt-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <a class="btn btn-primary"
                                   href="{% url 'payments:initiate_payment' %}?product={{ product.id }}">Buy
                                    Now</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
