{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block titile %}{{ title }}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}
<style>
    body{
        min-height: 100vh;
        width: 100%;
    }
    #content{
        min-height: 100vh;
        width: 100%;
    }
</style>
</head>
<body>
<div id="content">
{% block content %}
    {% endblock %}
</div>

<script>
    (function (window, document) {
        var loader = function () {
            var script = document.createElement("script"), tag = document.getElementsByTagName("script")[0];
            script.src = "https://sandbox.sslcommerz.com/embed.min.js?" + Math.random().toString(36).substring(7);
            tag.parentNode.insertBefore(script, tag);
        };

        window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
    })(window, document);
</script>

</body>
</html>
